@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-ping: #ff97d0;
  --color-kuning: #fcf944;
  --color-biru: #3e88ff;
  --color-ijo: #31be32;
}

html,
body,
:root {
  height: 100%;
  font-family: DM Sans, sans-serif;
}

h1 {
  font-size: 4.5vw;
}

h2 {
  @apply text-[4vw] font-bold;
}

h3 {
  @apply text-[3vw] lg:text-[1.6vw] font-medium;
}

p {
  font-size: 2.5vw;
}

p.card {
  @apply text-[2.5vw] lg:text-[1.3vw];
}

.container {
  @apply p-[10vw] space-y-4 w-full;
}

.box {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

.box.visible {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#hero h1,
#hero p,
#hero #socials,
#hero #gambar {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#hero h1 {
  transform: translateX(40px);
}

#hero p {
  transform: translateY(40px);
}

#hero #socials {
  transform: translateY(40px);
  transition: all 0.3s ease-in-out;
}

#hero #gambar {
  transform: translateY(-40px);
}

#hero h1.visible,
#hero p.visible,
#hero #socials.visible,
#hero #gambar.visible {
  opacity: 1;
  transform: none;
}

/* about scroll */
#about #yt {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease-in-out;
}

/* project scroll */
#projects .project {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.5s ease-in-out;
}

/* help scroll */
#help .bantu,
#team .tim,
#citizens .citizen,
#partners .partner,
#contact #last-image {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease-in-out;
}

#help #btn-bantu {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.5s ease-in-out;
}

#help .bantu.visible,
#help #btn-bantu.visible,
#projects .project.visible,
#about #yt.visible,
#team .tim.visible,
#citizens .citizen.visible,
#partners .partner.visible,
#contact #last-image.visible {
  opacity: 1;
  transform: none;
}
